doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script>
      window.opener && window.opener.postMessage(JSON.stringify({
      message: #{response.message},
      access_token: #{response.access_token},
      expires_in: #{response.expire_in},
      }), '*');
      window.close();
    </script>
  body
    block content
